<ion-view title="Consumer In Store" id="page7">
    <ion-content padding="true" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/Z2fJDG3FQxyw484iG3wG_tagitsmart.png" width="60%" height="auto">
        </div>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/Wpf0VtWQQSbejiFFJenx_milk.jpg" width="40%" height="auto">
        </div>
        <ion-list>
            <ion-item class="item-divider">Flora Pro-Activ Milk 1L</ion-item>
            <ion-item>2€</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/QwBVDZ9gSkaqU2GVGoCq_thermometer-icon-red.png">
                <h2>Product alert</h2>
                <p>20% discount!!</p>
            </ion-item>
        </ion-list>
        <button ui-sref="role.tagItSmart" id="consumerInStore-button7" style="border-radius:-6px -6px 0px -6px;" class="button button-dark  button-block icon-left ion-android-cart">Buy</button>
    </ion-content>
</ion-view>
