<ion-view title="Consumer at Home" id="page8">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/nhshObdPREC4XvX2Wc5O_tagitsmart.png" width="60%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/pQgqLiUnSLtRX4bxHgQX_milk.jpg" width="40%" height="auto">
        </div>
        <ion-list>
            <ion-item class="item-divider">Flora Pro-Activ Milk 1L</ion-item>
            <ion-item>Bought on 20/04/2016</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/yfARllJQTQeLOwkIvlte_thermometer-icon-red.png">
                <h2>Temperature Alert</h2>
                <p>Try to cool it a bit more!</p>
            </ion-item>
        </ion-list>
      <button ui-sref="role.recycleApp" id="recycleApp-button9" class="button button-dark  button-block icon-left ion-android-delete">Recycle Me!</button>

    </ion-content>
</ion-view>
