<ion-view title="Delivery App" id="page9">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/oFU33kZsToKxUMkMZPQ7_tagitsmart.png" width="60%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/71fhxbS7Q3mBXQNPcwuR_milk.jpg" width="40%" height="auto">
        </div>
        <ion-list>
            <ion-item class="item-divider">Flora Pro-Activ Milk 1L</ion-item>
            <ion-item>Destination: SuperMarket XYZ</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/EsCEQDGpSEGArRM8PbjZ_thermometer-icon-black.png">
                <h2>Delivery status</h2>
                <p>Temperature OK</p>
            </ion-item>
        </ion-list>
        <button ui-sref="role.tagItSmart" id="deliveryApp-button8" class="button button-dark  button-block">Delivery Confirmation</button>
    </ion-content>
</ion-view>
