<ion-view title="TagItSmart Scanner" id="page6" style="background-color:#FFFFFF;">
    <ion-content padding="true" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/lg0Ssc1qSx2flTKiw8Jg_tagitsmart.png" width="60%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/toYeNVKQCOeDiRxNbzQQ_product scan-black.png" width="80%" height="auto">
        </div>
      <button id="tagItSmartScanner-button1" ng-click="scan()" class="button button-dark  button-block">{{action}}</button>
      <ion-list></ion-list>
      <button id="tagItSmartScanner-button5" class="button button-light  button-block icon-left ion-android-contact">{{user}}</button>
    </ion-content>
</ion-view>
